
 body {

 background-color:rgb(0, 0, 0);
     text-align: center
                                                    
     }


div {
    border: 1px solid rgb(255, 157, 248);
    padding: 10px;
}


span {
    font-style: italic;
}


ul {
    list-style-type: square;
}

li {
    color: #ff00dd;
}


img {
    max-width: 100%;
    height: auto;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}


form {
    background-color: #f5f5f5;
    padding: 10px;
}


h1 {
    color: #3f51b5;
}

p {
    font-size: 16px;
}

a {
    color: #0077cc;
}


@media screen and (max-width: 1200px) {
    
    div {
        width: 80%;
        margin: auto;
    }

    
}


@media print {
    body {
        background-color: #7b7b7b;
    }

    
